# Задача 1

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("C:/Users/eldorado/Pictures/Spotify.csv")
df.head(5)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [3]:
da=df["streams"].head(5)

In [4]:
da = da.astype(float)
da.head(5)

0    141381703.0
1    133716286.0
2    140003974.0
3    800840817.0
4    303236322.0
Name: streams, dtype: float64

In [5]:
da = da.astype(int) # приведение к числовому формату. как избавиться от "-" не знаю.
da.head(5)

0    141381703
1    133716286
2    140003974
3    800840817
4    303236322
Name: streams, dtype: int32

In [6]:
df.describe()

,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,in_apple_playlists,in_apple_charts,in_deezer_charts,bpm,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
count,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.00000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000
mean,1.556139,2018.238195,6.033578,13.930745,5200.124869,12.009444,67.812172,51.908709,2.666317,122.540399,66.96957,51.431270,64.279119,27.057712,1.581322,18.213012,10.131165
std,0.893044,11.116218,3.566435,9.201949,7897.608990,19.575992,86.441493,50.630241,6.035599,28.057802,14.63061,23.480632,16.550526,25.996077,8.409800,13.711223,9.912888
min,1.000000,1930.000000,1.000000,1.000000,31.000000,0.000000,0.000000,0.000000,0.000000,65.000000,23.00000,4.000000,9.000000,0.000000,0.000000,3.000000,2.000000
25%,1.000000,2020.000000,3.000000,6.000000,875.000000,0.000000,13.000000,7.000000,0.000000,100.000000,57.00000,32.000000,53.000000,6.000000,0.000000,10.000000,4.000000
50%,1.000000,2022.000000,6.000000,13.000000,2224.000000,3.000000,34.000000,38.000000,0.000000,121.000000,69.00000,51.000000,66.000000,18.000000,0.000000,12.000000,6.000000
75%,2.000000,2022.000000,9.000000,22.000000,5542.000000,16.000000,88.000000,87.000000,2.000000,140.000000,78.00000,70.000000,77.000000,43.000000,0.000000,24.000000,11.000000
max,8.000000,2023.000000,12.000000,31.000000,52898.000000,147.000000,672.000000,275.000000,58.000000,206.000000,96.00000,97.000000,97.000000,97.000000,91.000000,97.000000,64.000000

In [12]:
df.groupby(['streams', 'artist_count']).count() #  гипотеза не подтвердилась, 
                                                #  с 2 артистами в 10 раз меньше прослушиваний чем с 1.
                                                # как и с 1 может быть в 10 раз больше чем с 1.

,,track_name,artist(s)_name,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,in_apple_playlists,in_apple_charts,in_deezer_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
streams,artist_count,,,,,,,,,,,,,,,,,,,,,
100409613,2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1007612429,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
101114984,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
101780047,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1022258230,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98709329,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
988515741,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
991336132,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
999748277,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
BPM110KeyAModeMajorDanceability53Valence75Energy69Acousticness7Instrumentalness0Liveness17Speechiness3,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

# задача2.

In [7]:
import pandas as pd

In [8]:
data1 = pd.read_csv("C:/Users/eldorado/Pictures/clients_data.csv")
data1.head(3)

,Unnamed: 0,Id,Name,Phone,Email,City,Address
0,0,1,Дьячков Аполлон Викторович,8 (827) 361-16-07,kalininamvrosi@rao.net,к. Талдом,"наб. Енисейская, д. 7 стр. 7"
1,1,2,Захарова Лукия Тимуровна,8 825 998 51 40,milovan1991@rambler.ru,клх Соликамск,"пр. Большевистский, д. 6 к. 5/1"
2,2,3,Анна Натановна Кузнецова,+7 (908) 383-07-61,kallistrat61@tehnonikol.biz,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5"

In [9]:
data2 = pd.read_csv("C:/Users/eldorado/Pictures/products_data.csv")
data2.head(3)

   Unnamed: 0  Id                      Name  Cost  Group
0           0   1   Набор столовых приборов  1637  Кухня
1           1   2      Скатерть одноразовая   176  Кухня
2           2   3  Пресс для чеснока LaDina   153  Кухня

In [10]:
data3= pd.read_csv("C:/Users/eldorado/Pictures/orders_data.csv")
data3.head(3)

,Unnamed: 0,Id,Client_Id,Year,Date,City,Address
0,0,1,43,2021,9/8,д. Уварово,"ш. Хуторское, д. 6/1"
1,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5"
2,2,3,39,2022,1/25,к. Арзамас,"алл. Олимпийская, д. 5/8 стр. 4/3"

In [11]:
data4 = pd.read_csv("C:/Users/eldorado/Pictures/positions_data.csv")
data4.head(10)

   Unnamed: 0  Order_Id  Product_Id  Number  Sale_%
0           0         1           2       5       0
1           1         2           7       1       0
2           2         2          42       5      15
3           3         2          10       1       0
4           4         2          33       1       0
5           5         2          11       1      10
6           6         3          10       1       0
7           7         3          22       3      25
8           8         4          21       1       0
9           9         4          39       1       0

In [12]:
overall= data2.merge(data4, left_on="Id", right_on="Product_Id")
overall.head()

,Unnamed: 0_x,Id,Name,Cost,Group,Unnamed: 0_y,Order_Id,Product_Id,Number,Sale_%
0,0,1,Набор столовых приборов,1637,Кухня,43,23,1,1,0
1,0,1,Набор столовых приборов,1637,Кухня,109,51,1,1,0
2,0,1,Набор столовых приборов,1637,Кухня,132,60,1,1,0
3,0,1,Набор столовых приборов,1637,Кухня,137,62,1,1,15
4,0,1,Набор столовых приборов,1637,Кухня,175,73,1,1,0

In [13]:
overall.groupby('Name')['Number'].mean() # Вопрос4. среднее количество позиций в чеке

Name
JR FARM Classic feast Корм для шиншилл 1,2кг         1.666667
Большая муравьиная ферма XXL                         1.200000
Бутылка для масла                                    1.409091
Зип пакет Всё для хозяек                             1.133333
Игрушка для собак с пищалкой Pet Universe            1.916667
Когтеточка настенная Homecat                         1.529412
Кошачья мята / Шарик с кошачьей мятой на стену       1.384615
Лакомство для хомяков                                1.285714
Лосьон для глаз кошек и собак Cliny 50 мл            1.500000
Лямки для тяги                                       1.500000
Массажный мяч для йоги и фитнеса                     1.800000
Мягкая игрушка для кошек и котят - рыба              1.600000
Мяч волейбольный Sport Elite Мяч волейбольный        1.235294
Мяч теннисный спортивный                             1.375000
Набор для настольного тенниса                        1.625000
Набор ланч-боксов для еды FYZ                        1.000000
Набор ножей кухонных                                 1.571429
Набор стаканов для воды, универсальный GeHause       1.266667
Набор столовых приборов                              1.583333
Набор формочек для приготовления печенья             1.285714
Ножницы кухонные универсальные TalleR                1.470588
Оленьи колбаски Classic - Сделано в Карелии          1.428571
Открывашка для консервов                             1.357143
Пеленки для животных 60х40 - 50 шт                   1.100000
Пинцет для удаления рыбных костей                    1.476190
Платформа для отжиманий                              1.571429
Подводная маска для плавания Aquapolar               1.230769
Пресс для чеснока LaDina                             1.533333
Разделочная доска 2PM черная с зеленой окантовкой    1.222222
Расческа для кошек, гребень для собак                1.545455
Резинка для фитнеса тканевая                         1.533333
Силиконовая форма KONONO для выпечки и запекания     1.100000
Скакалка спортивная MVRX                             1.666667
Скалка Romanky с крутящимися ручками                 1.400000
Скатерть одноразовая                                 1.571429
Спрей Mr.Fresh Expert защита от царапания            1.411765
Сушилка для посуды                                   1.850000
Тесторезка для пельменей                             1.142857
Универсальная смазка KERRY с PTFE для цепей          2.142857
Фитбол, гимнастический мяч для фитнеса йоги          1.230769
Фонарь велосипедный аккумуляторный                   1.166667
Чесалка расческа для кошек и собак, перчатка         1.363636
Шапочка для плавания для бассейна ONLYTOP            1.285714
Эспандер Hardcore Training HT_espander               2.000000
Name: Number, dtype: float64

In [16]:
overall['Sum']=overall['Cost']*overall['Number']
overall.head(50)

,Unnamed: 0_x,Id,Name,Cost,Group,Unnamed: 0_y,Order_Id,Product_Id,Number,Sale_%,Sum
0,0,1,Набор столовых приборов,1637,Кухня,43,23,1,1,0,1637
1,0,1,Набор столовых приборов,1637,Кухня,109,51,1,1,0,1637
2,0,1,Набор столовых приборов,1637,Кухня,132,60,1,1,0,1637
3,0,1,Набор столовых приборов,1637,Кухня,137,62,1,1,15,1637
4,0,1,Набор столовых приборов,1637,Кухня,175,73,1,1,0,1637
5,0,1,Набор столовых приборов,1637,Кухня,262,121,1,5,0,8185
6,0,1,Набор столовых приборов,1637,Кухня,329,153,1,1,0,1637
7,0,1,Набор столовых приборов,1637,Кухня,415,190,1,1,0,1637
8,0,1,Набор столовых приборов,1637,Кухня,431,195,1,4,0,6548
9,0,1,Набор столовых приборов,1637,Кухня,436,198,1,1,0,1637
10,0,1,Набор столовых приборов,1637,Кухня,577,268,1,1,0,1637
11,0,1,Набор столовых приборов,1637,Кухня,591,273,1,1,0,1637
12,1,2,Скатерть одноразовая,176,Кухня,0,1,2,5,0,880
13,1,2,Скатерть одноразовая,176,Кухня,108,50,2,1,15,176
14,1,2,Скатерть одноразовая,176,Кухня,152,66,2,1,0,176
15,1,2,Скатерть одноразовая,176,Кухня,204,89,2,1,0,176
16,1,2,Скатерть одноразовая,176,Кухня,207,89,2,1,0,176
17,1,2,Скатерть одноразовая,176,Кухня,320,148,2,1,0,176
18,1,2,Скатерть одноразовая,176,Кухня,339,155,2,3,5,528
19,1,2,Скатерть одноразовая,176,Кухня,425,192,2,1,0,176
20,1,2,Скатерть одноразовая,176,Кухня,454,207,2,1,0,176
21,1,2,Скатерть одноразовая,176,Кухня,489,228,2,1,20,176
22,1,2,Скатерть одноразовая,176,Кухня,512,237,2,1,0,176
23,1,2,Скатерть одноразовая,176,Кухня,539,250,2,1,20,176
24,1,2,Скатерть одноразовая,176,Кухня,588,272,2,1,10,176
25,1,2,Скатерть одноразовая,176,Кухня,611,284,2,3,0,528
26,2,3,Пресс для чеснока LaDina,153,Кухня,37,19,3,1,0,153
27,2,3,Пресс для чеснока LaDina,153,Кухня,114,55,3,1,0,153
28,2,3,Пресс для чеснока LaDina,153,Кухня,179,75,3,1,0,153
29,2,3,Пресс для чеснока LaDina,153,Кухня,186,79,3,1,0,153
30,2,3,Пресс для чеснока LaDina,153,Кухня,192,81,3,1,0,153
31,2,3,Пресс для чеснока LaDina,153,Кухня,195,83,3,1,0,153
32,2,3,Пресс для чеснока LaDina,153,Кухня,309,143,3,1,0,153
33,2,3,Пресс для чеснока LaDina,153,Кухня,341,156,3,1,5,153
34,2,3,Пресс для чеснока LaDina,153,Кухня,370,170,3,1,0,153
35,2,3,Пресс для чеснока LaDina,153,Кухня,379,173,3,2,0,306
36,2,3,Пресс для чеснока LaDina,153,Кухня,510,236,3,5,0,765
37,2,3,Пресс для чеснока LaDina,153,Кухня,555,255,3,1,0,153
38,2,3,Пресс для чеснока LaDina,153,Кухня,564,260,3,1,0,153
39,2,3,Пресс для чеснока LaDina,153,Кухня,566,260,3,4,15,612
40,2,3,Пресс для чеснока LaDina,153,Кухня,597,275,3,1,5,153
41,3,4,Бутылка для масла,435,Кухня,28,14,4,1,0,435
42,3,4,Бутылка для масла,435,Кухня,30,15,4,1,20,435
43,3,4,Бутылка для масла,435,Кухня,49,25,4,1,0,435
44,3,4,Бутылка для масла,435,Кухня,71,34,4,2,0,870
45,3,4,Бутылка для масла,435,Кухня,81,37,4,5,0,2175
46,3,4,Бутылка для масла,435,Кухня,150,65,4,1,0,435
47,3,4,Бутылка для масла,435,Кухня,246,111,4,1,0,435
48,3,4,Бутылка для масла,435,Кухня,247,112,4,1,0,435
49,3,4,Бутылка для масла,435,Кухня,260,120,4,4,0,1740

In [17]:
tot1 = overall['Sum'].sum() # общая Заработок   без учета скидки  Вопрос 1.1. Суммарный заработок компании за все время.
tot1

487199

In [18]:
tot2 = overall['Number'].sum() # общее число заказов
tot2

928

In [19]:
average_amount = tot1 / tot2 # Вопрос 3. средняя сумма заказа
average_amount

524.9989224137931

In [21]:
over= data3.merge(overall, left_on="Id", right_on="Order_Id")
over.head()

,Unnamed: 0,Id_x,Client_Id,Year,Date,City,Address,Unnamed: 0_x,Id_y,Name,Cost,Group,Unnamed: 0_y,Order_Id,Product_Id,Number,Sale_%,Sum
0,0,1,43,2021,9/8,д. Уварово,"ш. Хуторское, д. 6/1",1,2,Скатерть одноразовая,176,Кухня,0,1,2,5,0,880
1,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",6,7,Пинцет для удаления рыбных костей,131,Кухня,1,2,7,1,0,131
2,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",9,10,Набор формочек для приготовления печенья,245,Кухня,3,2,10,1,0,245
3,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",10,11,Тесторезка для пельменей,282,Кухня,5,2,11,1,10,282
4,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",32,33,Мяч волейбольный Sport Elite Мяч волейбольный,1017,Спорт и отдых,4,2,33,1,0,1017

In [22]:
over['Sale_%'] = over['Sale_%']/100
over['Sale_%']

0      0.00
1      0.00
2      0.00
3      0.10
4      0.00
       ...
637    0.25
638    0.15
639    0.00
640    0.05
641    0.05
Name: Sale_%, Length: 642, dtype: float64

In [24]:
over['Sum_']=over['Sum'] - over['Sum']*over['Sale_%'] #   Сумма с учетом скидки.
over

,Unnamed: 0,Id_x,Client_Id,Year,Date,City,Address,Unnamed: 0_x,Id_y,Name,Cost,Group,Unnamed: 0_y,Order_Id,Product_Id,Number,Sale_%,Sum,Sum_
0,0,1,43,2021,9/8,д. Уварово,"ш. Хуторское, д. 6/1",1,2,Скатерть одноразовая,176,Кухня,0,1,2,5,0.00,880,880.00
1,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",6,7,Пинцет для удаления рыбных костей,131,Кухня,1,2,7,1,0.00,131,131.00
2,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",9,10,Набор формочек для приготовления печенья,245,Кухня,3,2,10,1,0.00,245,245.00
3,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",10,11,Тесторезка для пельменей,282,Кухня,5,2,11,1,0.10,282,253.80
4,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",32,33,Мяч волейбольный Sport Elite Мяч волейбольный,1017,Спорт и отдых,4,2,33,1,0.00,1017,1017.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,298,299,6,2022,6/16,д. Уварово,"пер. Солнечный, д. 3",26,27,Когтеточка настенная Homecat,199,Товары для животных,635,299,27,1,0.25,199,149.25
638,298,299,6,2022,6/16,д. Уварово,"пер. Солнечный, д. 3",30,31,Резинка для фитнеса тканевая,166,Спорт и отдых,636,299,31,1,0.15,166,141.10
639,298,299,6,2022,6/16,д. Уварово,"пер. Солнечный, д. 3",39,40,"Фитбол, гимнастический мяч для фитнеса йоги",833,Спорт и отдых,640,299,40,1,0.00,833,833.00
640,298,299,6,2022,6/16,д. Уварово,"пер. Солнечный, д. 3",43,44,Скакалка спортивная MVRX,295,Спорт и отдых,638,299,44,2,0.05,590,560.50
641,299,300,40,2021,2/7,ст. Вологда,"пр. Просвещения, д. 3/7 к. 258",38,39,Массажный мяч для йоги и фитнеса,302,Спорт и отдых,641,300,39,1,0.05,302,286.90

In [38]:
over['full_address']=over['City']+over['Address']
over

,Unnamed: 0,Id_x,Client_Id,Year,Date,City,Address,Unnamed: 0_x,Id_y,Name,Cost,Group,Unnamed: 0_y,Order_Id,Product_Id,Number,Sale_%,Sum,Sum_,full_address
0,0,1,43,2021,9/8,д. Уварово,"ш. Хуторское, д. 6/1",1,2,Скатерть одноразовая,176,Кухня,0,1,2,5,0.00,880,880.00,"д. Уваровош. Хуторское, д. 6/1"
1,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",6,7,Пинцет для удаления рыбных костей,131,Кухня,1,2,7,1,0.00,131,131.00,"ст. Вологдапер. Жукова, д. 8/2 к. 5/5"
2,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",9,10,Набор формочек для приготовления печенья,245,Кухня,3,2,10,1,0.00,245,245.00,"ст. Вологдапер. Жукова, д. 8/2 к. 5/5"
3,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",10,11,Тесторезка для пельменей,282,Кухня,5,2,11,1,0.10,282,253.80,"ст. Вологдапер. Жукова, д. 8/2 к. 5/5"
4,1,2,3,2022,6/28,ст. Вологда,"пер. Жукова, д. 8/2 к. 5/5",32,33,Мяч волейбольный Sport Elite Мяч волейбольный,1017,Спорт и отдых,4,2,33,1,0.00,1017,1017.00,"ст. Вологдапер. Жукова, д. 8/2 к. 5/5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,298,299,6,2022,6/16,д. Уварово,"пер. Солнечный, д. 3",26,27,Когтеточка настенная Homecat,199,Товары для животных,635,299,27,1,0.25,199,149.25,"д. Уваровопер. Солнечный, д. 3"
638,298,299,6,2022,6/16,д. Уварово,"пер. Солнечный, д. 3",30,31,Резинка для фитнеса тканевая,166,Спорт и отдых,636,299,31,1,0.15,166,141.10,"д. Уваровопер. Солнечный, д. 3"
639,298,299,6,2022,6/16,д. Уварово,"пер. Солнечный, д. 3",39,40,"Фитбол, гимнастический мяч для фитнеса йоги",833,Спорт и отдых,640,299,40,1,0.00,833,833.00,"д. Уваровопер. Солнечный, д. 3"
640,298,299,6,2022,6/16,д. Уварово,"пер. Солнечный, д. 3",43,44,Скакалка спортивная MVRX,295,Спорт и отдых,638,299,44,2,0.05,590,560.50,"д. Уваровопер. Солнечный, д. 3"
641,299,300,40,2021,2/7,ст. Вологда,"пр. Просвещения, д. 3/7 к. 258",38,39,Массажный мяч для йоги и фитнеса,302,Спорт и отдых,641,300,39,1,0.05,302,286.90,"ст. Вологдапр. Просвещения, д. 3/7 к. 258"

In [44]:
city_gr = over.groupby('Client_Id')['full_address'].unique()
city_gr = city_gr.apply(len)
city_gr = city_gr.reset_index()
city_more1 = city_gr [city_gr['full_address']>1]
city_more1 # Клиентов сделавших заказы по разным адресам.

    Client_Id  full_address
4           5             2
7           8             3
8           9             2
14         15             3
15         16             2
16         17             2
19         20             3
22         23             2
24         25             4
25         26             4
26         27             2
29         30             2
30         31             2
31         32             2
32         33             4
34         35             3
35         36             2
36         37             2
37         38             3
39         40             3
40         41             2
41         42             2
44         45             3
45         46             2
47         48             2
49         50             2

In [27]:
over.groupby(['Product_Id','City'])['Number'].sum().reset_index() # Вопрос 5 самый популярный товар в каждом городе

     Product_Id              City  Number
0             1         к. Талдом       4
1             1  клх Новочеркасск       7
2             1          п. Сибай       1
3             1      п. Чебоксары       3
4             1       с. Нерчинск       4
..          ...               ...     ...
322          44  клх Новочеркасск       1
323          44     клх Соликамск       2
324          44          п. Сибай       1
325          44      п. Чебоксары       4
326          44       ст. Вологда       2

[327 rows x 3 columns]

In [35]:
over.groupby('Client_Id')['Sum_'].sum().reset_index() # Вопрос 1.2 суммарный заработок по клиентам.

    Client_Id      Sum_
0           1  13703.75
1           2    373.40
2           3  16232.45
3           4   7156.75
4           5   3441.75
5           6   6608.50
6           7   4761.25
7           8   9861.40
8           9   8699.35
9          10   8777.95
10         11  16011.50
11         12  17115.65
12         13  15445.60
13         14   9078.85
14         15  11202.65
15         16   4078.25
16         17  11129.30
17         18   2622.25
18         19  10143.20
19         20   7677.20
20         21  10177.25
21         22   5459.95
22         23   9393.40
23         24   8225.60
24         25  16538.40
25         26  16714.90
26         27   1857.00
27         28   4127.00
28         29   6899.35
29         30   9523.50
30         31   4287.90
31         32   5026.40
32         33   3834.90
33         34   9003.70
34         35  10867.10
35         36   5175.95
36         37   4249.20
37         38   9875.95
38         39   6584.85
39         40  22106.20
40         41   8107.60
41         42   8912.80
42         43   4056.05
43         44   4938.55
44         45  29764.45
45         46   8605.60
46         47  15052.55
47         48  17124.95
48         49   6614.65
49         50   4339.80

In [28]:
over.groupby('Year')['Sum_'].sum().reset_index() # Вопрос 1.2 суммарный заработок по годам.

   Year       Sum_
0  2020   31589.45
1  2021  112615.70
2  2022  144971.35
3  2023  172390.00

In [36]:
overall['Name'].value_counts() # Вопрос 2. Сколько раз был продан каждый товар.

Name
Бутылка для масла                                    22
Пинцет для удаления рыбных костей                    21
Силиконовая форма KONONO для выпечки и запекания     20
Скалка Romanky с крутящимися ручками                 20
Сушилка для посуды                                   20
Фонарь велосипедный аккумуляторный                   18
Разделочная доска 2PM черная с зеленой окантовкой    18
Мяч волейбольный Sport Elite Мяч волейбольный        17
Когтеточка настенная Homecat                         17
Ножницы кухонные универсальные TalleR                17
Спрей Mr.Fresh Expert защита от царапания            17
Набор для настольного тенниса                        16
Мяч теннисный спортивный                             16
Лосьон для глаз кошек и собак Cliny 50 мл            16
Пресс для чеснока LaDina                             15
Набор стаканов для воды, универсальный GeHause       15
Зип пакет Всё для хозяек                             15
JR FARM Classic feast Корм для шиншилл 1,2кг         15
Резинка для фитнеса тканевая                         15
Мягкая игрушка для кошек и котят - рыба              15
Массажный мяч для йоги и фитнеса                     15
Универсальная смазка KERRY с PTFE для цепей          14
Шапочка для плавания для бассейна ONLYTOP            14
Лямки для тяги                                       14
Платформа для отжиманий                              14
Скатерть одноразовая                                 14
Оленьи колбаски Classic - Сделано в Карелии          14
Тесторезка для пельменей                             14
Лакомство для хомяков                                14
Открывашка для консервов                             14
Набор формочек для приготовления печенья             14
Фитбол, гимнастический мяч для фитнеса йоги          13
Кошачья мята / Шарик с кошачьей мятой на стену       13
Подводная маска для плавания Aquapolar               13
Набор столовых приборов                              12
Игрушка для собак с пищалкой Pet Universe            12
Скакалка спортивная MVRX                             12
Расческа для кошек, гребень для собак                11
Чесалка расческа для кошек и собак, перчатка         11
Эспандер Hardcore Training HT_espander               10
Большая муравьиная ферма XXL                         10
Пеленки для животных 60х40 - 50 шт                   10
Набор ланч-боксов для еды FYZ                         8
Набор ножей кухонных                                  7
Name: count, dtype: int64

In [21]:
overall_ = overall.groupby("Name").agg(count=pd.NamedAgg(column="Name", aggfunc="count")).reset_index()
overall_

                                                 Name  count
0        JR FARM Classic feast Корм для шиншилл 1,2кг     15
1                        Большая муравьиная ферма XXL     10
2                                   Бутылка для масла     22
3                            Зип пакет Всё для хозяек     15
4           Игрушка для собак с пищалкой Pet Universe     12
5                        Когтеточка настенная Homecat     17
6      Кошачья мята / Шарик с кошачьей мятой на стену     13
7                               Лакомство для хомяков     14
8           Лосьон для глаз кошек и собак Cliny 50 мл     16
9                                      Лямки для тяги     14
10                   Массажный мяч для йоги и фитнеса     15
11            Мягкая игрушка для кошек и котят - рыба     15
12      Мяч волейбольный Sport Elite Мяч волейбольный     17
13                           Мяч теннисный спортивный     16
14                      Набор для настольного тенниса     16
15                      Набор ланч-боксов для еды FYZ      8
16                               Набор ножей кухонных      7
17     Набор стаканов для воды, универсальный GeHause     15
18                            Набор столовых приборов     12
19           Набор формочек для приготовления печенья     14
20              Ножницы кухонные универсальные TalleR     17
21        Оленьи колбаски Classic - Сделано в Карелии     14
22                           Открывашка для консервов     14
23                 Пеленки для животных 60х40 - 50 шт     10
24                  Пинцет для удаления рыбных костей     21
25                            Платформа для отжиманий     14
26             Подводная маска для плавания Aquapolar     13
27                           Пресс для чеснока LaDina     15
28  Разделочная доска 2PM черная с зеленой окантовкой     18
29              Расческа для кошек, гребень для собак     11
30                       Резинка для фитнеса тканевая     15
31   Силиконовая форма KONONO для выпечки и запекания     20
32                           Скакалка спортивная MVRX     12
33               Скалка Romanky с крутящимися ручками     20
34                               Скатерть одноразовая     14
35          Спрей Mr.Fresh Expert защита от царапания     17
36                                 Сушилка для посуды     20
37                           Тесторезка для пельменей     14
38        Универсальная смазка KERRY с PTFE для цепей     14
39        Фитбол, гимнастический мяч для фитнеса йоги     13
40                 Фонарь велосипедный аккумуляторный     18
41       Чесалка расческа для кошек и собак, перчатка     11
42          Шапочка для плавания для бассейна ONLYTOP     14
43             Эспандер Hardcore Training HT_espander     10

In [25]:
data5= data2.merge(data4, left_on="Id", right_on="Product_Id") #   среднее количество позиций в чеке
overall.head(30)

,Unnamed: 0_x,Id,Name,Cost,Group,Unnamed: 0_y,Order_Id,Product_Id,Number,Sale_%,Sum
0,0,1,Набор столовых приборов,1637,Кухня,43,23,1,1,0,1637
1,0,1,Набор столовых приборов,1637,Кухня,109,51,1,1,0,1637
2,0,1,Набор столовых приборов,1637,Кухня,132,60,1,1,0,1637
3,0,1,Набор столовых приборов,1637,Кухня,137,62,1,1,15,1637
4,0,1,Набор столовых приборов,1637,Кухня,175,73,1,1,0,1637
5,0,1,Набор столовых приборов,1637,Кухня,262,121,1,5,0,8185
6,0,1,Набор столовых приборов,1637,Кухня,329,153,1,1,0,1637
7,0,1,Набор столовых приборов,1637,Кухня,415,190,1,1,0,1637
8,0,1,Набор столовых приборов,1637,Кухня,431,195,1,4,0,6548
9,0,1,Набор столовых приборов,1637,Кухня,436,198,1,1,0,1637
10,0,1,Набор столовых приборов,1637,Кухня,577,268,1,1,0,1637
11,0,1,Набор столовых приборов,1637,Кухня,591,273,1,1,0,1637
12,1,2,Скатерть одноразовая,176,Кухня,0,1,2,5,0,880
13,1,2,Скатерть одноразовая,176,Кухня,108,50,2,1,15,176
14,1,2,Скатерть одноразовая,176,Кухня,152,66,2,1,0,176
15,1,2,Скатерть одноразовая,176,Кухня,204,89,2,1,0,176
16,1,2,Скатерть одноразовая,176,Кухня,207,89,2,1,0,176
17,1,2,Скатерть одноразовая,176,Кухня,320,148,2,1,0,176
18,1,2,Скатерть одноразовая,176,Кухня,339,155,2,3,5,528
19,1,2,Скатерть одноразовая,176,Кухня,425,192,2,1,0,176
20,1,2,Скатерть одноразовая,176,Кухня,454,207,2,1,0,176
21,1,2,Скатерть одноразовая,176,Кухня,489,228,2,1,20,176
22,1,2,Скатерть одноразовая,176,Кухня,512,237,2,1,0,176
23,1,2,Скатерть одноразовая,176,Кухня,539,250,2,1,20,176
24,1,2,Скатерть одноразовая,176,Кухня,588,272,2,1,10,176
25,1,2,Скатерть одноразовая,176,Кухня,611,284,2,3,0,528
26,2,3,Пресс для чеснока LaDina,153,Кухня,37,19,3,1,0,153
27,2,3,Пресс для чеснока LaDina,153,Кухня,114,55,3,1,0,153
28,2,3,Пресс для чеснока LaDina,153,Кухня,179,75,3,1,0,153
29,2,3,Пресс для чеснока LaDina,153,Кухня,186,79,3,1,0,153